
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,900;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;800,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu+Condensed&family=Ubuntu:wght@300&display=swap');

body{
font-family:"Roboto",sans-serif;
line-height:1.8;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 900;
}
a{
    text-decoration: none;
    transition: all 0.5s ease;
    font-weight: 800;
    color: #11111a;
}
img{
    width:100%;

}
section{
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 2;
    position: relative;
   
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:linear-gradient(rgba(13, 5, 255, 0.7), rgba(64, 199, 217, 0.7));
    z-index: -1;
}
.bg-cover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.hero-section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 14px 22px;
    transition: all 0.5s ease;
    
}
.btn-main{
    background:linear-gradient(to right, #00e0fe, #1107fe);
    border-radius: 100px;
    border: none;
    font-weight: 600;
    color: white;

}
.btn:hover{
    color: white;
    transform: translateY(-5px);
}
.video-btn{
    width:60px;
    height:60px;
    background:linear-gradient(to right, #00e0fe, #1107fe);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 100%;

}
.navbar{
    box-shadow: 0 12px 20px rgba(0,0,0,0.1);
}
/* .navbar-light .navbar-nav .nav-link.active .navbar-light .show .nav-link{
    background: -webkit-linear-gradient(#fee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

/* section-intro */
.section-intro{
    margin-bottom: 40px;
}
.section-intro .divider{
    height:4px;
    width: 70px;
    background:linear-gradient(to right, #00e0fe, #1107fe);
    margin: 16px auto;
}
/* .service .service-img{

} */
.review{
    box-shadow: 0 12px 12px rgba(0,0,0,0.1);
}

.review .person{
display: flex;
align-items: center;
border-bottom: 1px solid rgba(0,0, 0, 0.07);
padding-bottom: 18px;



}
.review .person img{
    width:75px;
    height:75px;
    border-radius:100px;
}

.review .stars{
    color: orange;
}